build/
dist/
###############
node_modules/
vendor/
###############
.vscode/
.idea/
###############
.DS_Store
Thumbs.db
###############
.env
.env.local
###############
__pycache__/
*.pyc
*.pyo
*.pyd
###############
.venv/
venv/

